<div class="language-picker">
    <form action="" class="language-picker__form">
        <select name="language-picker-select" id="language-picker-select" aria-label="Select your language">
        <option lang="de" value="en" selected>EN</option>
        <option lang="en" value="es">ES</option>
        </select>
    </form>
</div>