.project-card {
    /* width: calc(80% - 2rem); */
    /* flex-shrink: 0; */
    padding-inline: 1rem;
    list-style: none;
    display: block;
    img {
        aspect-ratio: 5/3;
        object-fit: cover;
        border-radius: 4px;
    }
    a {
        /* display: block; */
        border: 3px solid var(--accent-clr-400);
        padding: 0 0.5rem 0.5rem 0.75rem;
        border-width: 0 0 2px 2px;
        border-radius: 1px;
    }
    a::after {
        content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" ><path d="M10 6V8H5V19H16V14H18V20C18 20.5523 17.5523 21 17 21H4C3.44772 21 3 20.5523 3 20V7C3 6.44772 3.44772 6 4 6H10ZM21 3V11H19L18.9999 6.413L11.2071 14.2071L9.79289 12.7929L17.5849 5H13V3H21Z"></path></svg>');
        display: inline-block;
        width: 16px;
        height: 14px;
        margin-left: 0.5ch;
        margin-bottom: -10px;
    }
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 10;
    pointer-events: none;
    nav {
        background: var(--primary-clr-100);
        color: var(--primary-clr-700);
        width: fit-content;
        /* pointer-events: initial; */
        padding: 1rem;
        display: flex;
        border-radius: 5px;
        box-shadow: 0px 2px 5px 0px rgba(209, 197, 197, 0.685);
    }
    a {
        padding: 0.1rem 0.5rem;
        text-decoration-color: var(--accent-clr-400);
        display: block;
        transition: all 500ms ease-out;
        position: relative;
    }
    .active {
        text-decoration-color: red;
        text-decoration-color: var(--secondary-clr-400);
        transform: translateY(-6px);
    }
}
.swiper-wrapper {
    padding: 0;
}

.language-picker {
    position: fixed;
    top: 0;
    right: 16%;
    right: max(1.2rem, calc((100% - 78ch) * 0.5 + 1.2rem));
    margin-top: 1rem;
    z-index: 100;

    svg {
        width: 0.8rem;
        height: 0.8rem;
    }
    label {
        display: flex;
        align-items: center;
        margin-bottom: 0;
        background: var(--primary-clr-100);
        color: var(--primary-clr-700);
        border: none;
        border-radius: 5px;
        padding: 0rem 0.35rem;
        box-shadow: 0px 2px 5px 0px rgba(209, 197, 197, 0.685);
    }
    select {
        border: none;
        font-weight: bold;
        color: var(--primary-clr-700);
        padding-block: 0.25rem;
        padding-left: 0.25rem;
    }
}
.sections {
    .section-tab {
        display: none;
        transform-origin: top center;
    }
    .section-tab.active {
        display: block;
        animation: fade-in 500ms;
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(100px);
        scale: 0.8;
    }
    50% {
        transform: translateY(0);
        scale: 1;
    }
    100% {
        opacity: 1;
    }
}
