<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title[locale]}}</title>
    <link rel="stylesheet" href="/src/css/app.css" />

</head>
<body>
    <script type="module" src="/src/js/page-scripts.js"></script>
    <div class="language-picker">
        <form action="" class="language-picker__form">
            <select name="language-picker-select" id="language-picker-select" aria-label="Select your language">
            <option lang="de" value="en" selected>EN</option>
            <option lang="en" value="es">ES</option>
            </select>
        </form>
    </div>
    <div id="info">
        <div class="container">
            <h2>{{ title[locale] }}</h2>
            <p>{{ about[locale].test }}</p>
        </div>
    </div>
</body>
</html>